/* styles for my portal page */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
    background-color: rgb(213, 212, 212);
    min-height: 100vh;
}

body {
    min-height: 100%;
}

#wrapper {
    min-height: 100%;
    padding: 20px;
}

#wrapper:after {
    content: "";
    display: block;
  }

/* Navigation */

.topnav {
    background-color: black;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .current {
    background-color: rgb(47, 79, 79);
    color: white;
  }

  nav a {
    font-size: 1.4em; 
    color:white;
  }
  
  .topnav .icon {
    display: none;
  }
  
/* Footer */

footer {
    background: black;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100px;
    text-align: center;
    padding: 10px;
    color: white;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer li {
    justify-content: center;
    margin: 0 15px;
    text-decoration: none;
}

footer a {
    text-decoration: none;
    color: rgb(10, 147, 117);
}

/* font awesome icon styles */
i.logo {
    color:rgb(47, 79, 79);
    text-shadow: 1px 1px #ccc; 
}

/* Typogrophy */

h1 {
    text-align: center;
    font-size: 2.3em;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 200;
}

h2 {
    font-size: 2em;
    text-align: center;
    color: rgb(47, 79, 79);
    font-weight: 200;
}

h3 {
    font-weight: 100;
    font-size: 1.5em;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

main h2 {
    text-align: center;
    margin-bottom: 15px;
}

main p {
    padding: 10px;
    margin: 10px auto;
    color: rgb(31, 31, 31);
    font-size: 1.05em;
}

/* Page Specific Styles */

body.home footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}


/* Responsive Styles */

/* Desktop */
@media all and (min-width:1200px) {

    .mobile {
        display: none;
    }

    main {
        width: 60%;
        margin: 0 auto;
        overflow: auto;
        float: right;
    }

    img.headshot {
        border-radius: 1000px;
        width: 35%;
        max-width: 300px;
        float: left;
        margin: 0;
    }

    .main_wrapper{
        margin: 40px auto;
        overflow: auto;
        width:900px;
    }
}

/* Tablet */

@media all and (min-width:737px) and (max-width:1199px) {

    .mobile {
        display: none;
    }

    main {
        width: 100%;
        margin: 20px auto 0 auto;
    }

    img.headshot {
        border-radius: 1000px;
        display: block;
        width: 35%;
        margin: 0 auto;
    }

    .main_wrapper{
        margin: 40px 50px;
    }

    main h2 {
        text-align: center;
    }

    body.home footer {
        position: relative;
    }

    footer li {
        justify-content: center;
        margin: 0 10px;
        font-size: .8em;
    }

}

/* Mobile */

@media all and (max-width:736px) {

    .desktop {
        display: none;
    }

    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
      .topnav a.icon {
        float: right;
        display: block;
    }

      .topnav.responsive {position: relative;}
      .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
      .topnav.responsive .dropdown {float: none;}
      .topnav.responsive .dropdown-content {position: relative;}
      .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
    
    img.headshot {
        border-radius: 1000px;
        display: block;
        width: 55%;
        margin: 0 auto;
    }

    main {
        width: 100%;
        margin: 20px auto 0 auto;
    }

    footer li {
        justify-content: center;
        text-align: center;
        padding: 2px 0;
        font-size: .8em;
    }

    h1 {
        margin: 20px;
    }

    main h2 {
        text-align: center;
    }

    body.home footer {
        position: relative;
    }
}