/* styles.css for FP IT162*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html, body {
    background-color: rgb(213, 212, 212);
    min-height: 100vh;
    width: 100%;
  }

  body {
    min-height: 100%;
    font-size: 1em;
  }

  .wrapper {
    min-height: 100%;
  }

  .wrapper:after {
    content: "";
    display: block;
  }

  :root {
    --blue: #2d405f;
    --green: #47ce12;
    --grey: #ededed;
    --highlight: #332fed;
    --barlow: 'Barlow', sans-serif;
    --teko:  'Teko', sans-serif;
  }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

  h1, h2, h3, h4 {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-family: 'Barlow', sans-serif;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/

  .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
  }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

  .logo {
    grid-column: 2 / span 1;
    line-height: 1;
    font-weight: 500;
    font-size: 2em;
  }

  .logo a {
    text-decoration: none;
    color: var(--blue);
  }

  header {
    background: var(--grey);
    border-bottom: #ffff 1px solid;
    position: fixed;
    text-align: center;
    z-index: 999;
    width: 100%;
    padding: .75em 2em;
  }

  nav .nav-links a {
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    margin-left: 1em;
    font-size: 1rem;
    padding: 1em 0;
    color: var(--blue);
    text-transform: uppercase;
  }

  nav a.current {
    color: var(--green);
  }

  nav a:hover{
    color: var(--green);
  }

  /* Checkbox */
  .nav-toggle {
    display: none;
    /* Allows for users to tab through */
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }

  /* =============== Mobile =============== */

  @media screen and (max-width: 1179px) {

      nav {
      position:absolute;
      text-align: left;
      top: 100%; /* 100% away from the top as measured by the header */
      left: 0;
      background: #ffffff;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      /* display: none; */
      transform: scale(1, 0); /* (width, height) */
      transform-origin: top; /* changes the transition from the top */
      transition: transform 300ms ease-in-out; /* slides the menue open from the middle */
    }

    nav a {
      display: block;
      margin-right: 1em;
      opacity: 0;
      /* When not checked, will use this transition */
      transition: opacity 150ms ease-in-out; /* Creates fade out effect when closing the menu */
    }

    .nav-toggle-label{
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 1em;
      /* height and display flex allows for centering. Cannot align a block item */
      height: 100%;
      display:flex;
      align-items: center;
    }  

    /* Checked will display menu */
    .nav-toggle:checked ~ nav { /* "~" looks for child of nav-toggle */
      display: block;
      transform: scale(1, 1);
    }

    .nav-toggle:checked ~ nav a {
      opacity: 1;
      /* When checked, will use this transition */
      transition: opacity 550ms ease-in-out 80ms; /* fades in menu items to prevent stretching 80ms delay */
    }

    header .icon {
      color: var(--blue);
      font-size: 28px;
      cursor: pointer;
      line-height: 0;
    }

    header .icon:hover {
      color: var(--green);
    }

    /* Hides the "player" button */
    .dropdown > a:first-child {
      display: none;
     }

  }

  /* =============== Desktop =============== */

  @media screen and (min-width: 1180px) {
    .nav-toggle-label {
      display: none;
    }

    header {
      display: grid;
      align-items: center;
    }

    nav {
      /* all: unset; This removes all previous styles for this element */
      grid-column: 3 / 12;
      display: flex;
      justify-content: flex-end;
    }

    nav .nav-links {
      display: flex;
      justify-content: space-between;
    }

    nav .nav-links a {
      display: inline-block;
      margin-left: 1.5em;
      position: relative;
      align-items: center;
    }

      /* Player dropdown content (Hidden by default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background: var(--grey);
      width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    nav .dropdown-content a {
      color: var(--blue);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      margin: 0;
    }
    
    .dropdown-content a:hover {
      color: var(--green);
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .dropdown:hover .dropbtn {
      background-color: var(--green);
    } 

    /* Sign Up Link */
    nav .nav-links a:nth-of-type(7) {
      background: #ffff;
      border-radius: 10px;
      padding: 1em 1.1em;
      margin-left: .5em;
      color: #332fed;
    }

    nav .nav-links a:nth-of-type(7):hover {
      color: #fff;
      background: var(--green);
  
    }

  }


/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
  div.hero {
    display: grid;
    grid-column: 1 / span 12;
    height: 1000px;
    background: var(--blue);
  }

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact {
  grid-column: 1 / 13;
}

.contact h2 {
  text-align: center;
}

/* =============== Form =============== */

  /* writes to small text above reCAPTCHA upon failure */
  .dateFeedback{
    font-style:italic;
    font-size:70%;
    font-weight:bold;
    color:rgb(211, 15, 15);
    border-radius: 4px;
  }

  legend {
    margin-left: 0.5em;
    padding: 0.2em 0.5em;
  }

  form {
    display: grid;
    max-width: 33.33%;
    min-width: 350px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.517);
    font-family: var(--barlow);
  }

  fieldset {
    border: 1px solid #ccc;
    max-width: 350px;
    border-radius: 4px;
    padding: 20px;
  }

  label {
    font-size: 1em;
    line-height: 1.5em;
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"], input[type="email"], input[type="number"] {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    color: #212529;
  }

  input[type="submit"], input[type="button"] {
    color: #fff;
    font-size: large;
    border-radius: 4px;
    border: solid 1px #ccc;
    margin: 10px auto 10px auto;
    width: 100%;
    padding: 5px;
    background: var(--green);
  }

  textarea {
    font-family: var(--barlow);
    font-size: 1em;
    line-height: 1.5em;
    max-width: 350px;;
    width: 100%;
    border: 1px solid #ced4da;
    color: #212529;
  }

  textarea:focus, input:focus{
    outline: auto;
    outline-color: var(--green);
    border-radius: 4px;
  }

  input:required {
    border-radius: 4px;
    font-size: 0.95em;
    line-height: 1.5em;
    max-width: 350px;
    /* width: 100%; */
  }

  select {
    display: block;
    width: 97%;
  }

  form ul {
    margin-bottom: 10px;
    list-style: none;
  }

  body.contact h2 {
    margin: 10px auto 20px;
  }

  body.contact h2, h3, p {
    text-align: center;
  }

  .error {
    font-style: italic;
    color: red;
  }


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer {
  display: grid;
  grid-column: 1 / span 12;
  height: 50px;
  background: var(--blue);
  font-family: var(--barlow);
  font-weight: 300;
  font-size: .75em;
  justify-content: center;
  color: #fff;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer li {
  padding: 0 1em;
}

footer a {
  color: var(--green);
}

footer a:hover {
  color: var(--grey);
}

footer .brand {
  color: var(--grey);
  font-weight: 400;
}

@media  screen and (max-width: 820px) {
  footer ul {
    display: block;
    margin-top: 5px;
  }

  footer li {
    margin-bottom: 5px;
    text-align: left;
  }

  footer {
    height: 100px;
  }



}